.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  height: 1000px;
  width: 800px;
  padding: 50px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 30px;
  display: block;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  font-size: 30px;
  width: 25%;
  padding: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 70px;
  cursor: pointer;
}
