*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* header start */
.list-main{
  position: relative;
}

.list-header{
  width: 100%;
  background-color: #393E46;
  position: absolute;
  top: 0;
  z-index: 10;

}
.list-element{
  width: 85%;
  margin: auto;
  display: flex;
}

.list-logo{
  flex-basis: 15%;
  display: flex;
  align-items: center;
}
.list-logo img{
  /* width: 100px; */
  margin: 7px 0;
  cursor: pointer;
}

.list-element ul{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.list-element ul li{
  margin-left: 25px;
  padding: 6px 16px;
}

.list-element ul li a{
  list-style: none;
  display: flex;
  text-decoration: none;
  align-items: center;
  color: #fff;
  font-size: 16px;
  /* font-weight: bold; */
}

/* header end */


/*list your show start*/




/*list your show end*/

